# Machine Learning and Data Mining: Graded Lab 01
---------------

#### Grading
For this graded lab you can get a total of **20 points**. These 20 points count **10%** of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Sunday, March 27th at 23:59**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Sunday, April 10th at 23:59**.

#### Note
Check each result carefully. Use data cleaning and transformation methods wherever needed. The data can sometimes be really **messy**. Each cell should be **self-contained** and be able to be executed without **any** dependencies on previous cells.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a **runnable** python jupyter notebook file.
All other submissions will be rejected and graded with **0** points.

### Task 01: Implementation of content-based recommenders [total: 8 points].    
The movies.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the movies.csv file in a pandas dataframe and try to answer the following questions.

##### __(a) The user Calvin hasn't watched any movies yet. Print the top 5 movies using the rating attribute as ranking, as recommendations for him [1 point].__

In [8]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv('movies.csv')
df = df.sort_values(by=['rating'], ascending=False)
#df = df.sort_values('rating', ascending=False)

df.head()

,id,title,languages,genres,rating,director,plot
42,468569,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.4,Christopher Nolan,Set within a year after the events of Batman B...
39,111161,The Shawshank Redemption,['english'],['Drama'],9.3,Frank Darabont,Chronicles the experiences of a formerly succe...
40,68646,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"The Godfather ""Don"" Vito Corleone is the head ..."
41,71562,The Godfather: Part II,"['English', 'Italian', 'Spanish', 'Latin', 'Si...","['Crime', 'Drama']",9.0,Francis Ford Coppola,The continuing saga of the Corleone crime fami...
27,4138326,Fallout,['English'],"['Action', 'Adventure', 'Drama', 'Sci-Fi']",8.9,Stephen Surjik,"After the nuclear explosion, General Wade Eili..."

##### __(b) The user Calvin still hasn't watched any movies yet. We  just know that he likes english speaking movies. Print the top 5 movies using the rating attribute as ranking, which have only the english language in the languages attribute, as recommendations for him [1 point].__

In [9]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv('movies.csv')
df = df.sort_values('rating', ascending=False)

df = df.loc[df['languages'].str.match("^\['[eE]nglish'\]")]
df.head()

# Note: We did not check if the languages are set correctly. There might be a result that in reallity has another language but it's not in the dataset.

,id,title,languages,genres,rating,director,plot
39,111161,The Shawshank Redemption,['english'],['Drama'],9.3,Frank Darabont,Chronicles the experiences of a formerly succe...
27,4138326,Fallout,['English'],"['Action', 'Adventure', 'Drama', 'Sci-Fi']",8.9,Stephen Surjik,"After the nuclear explosion, General Wade Eili..."
24,2912226,Unleash the Kraken!,['english'],"['Comedy', 'Crime', 'Fantasy']",8.7,Mike Smith,Just as the deadbeat father of the Johnson bro...
19,2187105,The Backward Class,['English'],"['Documentary', 'Drama']",8.6,Madeleine Grant,The first class of Dalit ('untouchable') caste...
14,502413,Frenzy,['English'],['Comedy'],8.4,Richard Boden,The new kitchen is now complete but Bill is to...

##### __(c) Still Calvin didn't watch a movie. However, we noticed that he took more time on the recommendations with the genres drama, thriller, crime, and comedy. Print the top 3 movies based on the rating attribute, which have at least the genres drama, thriller, crime, and comedy as recommendations for him [1 point].__

In [13]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv('movies.csv')
df = df.sort_values('rating', ascending=False)
df.loc[df['genres'].isin(['drama', 'thriller', 'crime', 'comedy'])]

df.head(3)

,id,title,languages,genres,rating,director,plot
42,468569,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.4,Christopher Nolan,Set within a year after the events of Batman B...
39,111161,The Shawshank Redemption,['english'],['Drama'],9.3,Frank Darabont,Chronicles the experiences of a formerly succe...
40,68646,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"The Godfather ""Don"" Vito Corleone is the head ..."

##### __(d) Now, Calvin has watched the movie with the ID 110912. Print the top 3 movies based on the rating attribute, which have the same director as the watched movie with the ID 110912 as recommendations for him. The already watched movie should not be within the recommendations [1 point].__

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv('movies.csv')
df = df.sort_values('rating', ascending=False)

fav_director = df.loc[df['id'] == 110912]['director'].values[0]

df = df.loc[df['id'] != 110912]

df = df.loc[df['director'] == fav_director]

df.head(3)

,id,title,languages,genres,rating,director,plot
33,105236,Reservoir Dogs,['English'],"['Drama', 'Thriller', 'Crime', 'Comedy']",8.3,Quentin Tarantino,"Six criminals, who are strangers to each other..."
0,1,Kill Bill Steelbox,['English'],"['Animation', 'Action', 'Adventure', 'Comedy',...",8.3,Quentin Tarantino,Placeholder for the Steelbox of Kill Bill.
37,361748,Inglourious Basterds,"['English', 'German', 'French', 'Italian']","['Adventure', 'Drama', 'War']",8.3,Quentin Tarantino,"In German-occupied France, young Jewish refuge..."

##### __(d) Now, Calvin has watched the movie with the ID 1502397 and we want to recommend movies with a similar plot. Remove all punctuation marks (".", ",", "(", ")", "-", "&"), convert the content to lower-case, and split the content of the plot attribute by whitespaces into terms. Then remove all stopwords by using the stopwords_english.txt file. Then calculate the Jaro Winkler distance (make use of an existing library) between the pre-processed plot of the watched movie and the pre-processed plots of all other movies. Print the top 3 movies based on the calculated  Jaro Winkler distance and the rating of the movie.  [4 points].__

In [1]:
import pandas as pd
import numpy as np
from strsimpy.jaro_winkler import JaroWinkler

df = pd.read_csv('movies.csv')
df = df.sort_values('rating', ascending=False)


def pp_plot(plot):
    punc = [".", ",", "(", ")", "-", "&"]
    for p in punc:
        plot = plot.replace(p, '')
    plot = plot.lower().split(' ')
    with open('stopwords_english.txt', encoding='utf-8') as file:
        stop_words = file.readlines()
        stop_words = [s.replace("\n", "") for s in stop_words]

        # remove all stop words from plot
        for i in range(len(plot)):
            if plot[i] in stop_words:
                plot[i] = ""
        
        plot = list(filter(None, plot))
            
    return plot

#print(pp_plot('Set within a year after the events of Batman Begins (2005), Batman jan'))

original_plot = df.loc[df['id'] == 1502397]['plot'].values[0]
df = df.loc[df['plot'] != original_plot]

#
df = df.loc[df['id'] != 1502397]
df = df.loc[df['id'] != 9999999]


jarowinkler = JaroWinkler()

for i, row in df.iterrows():
    df.at[i,'diff'] = jarowinkler.similarity(pp_plot(original_plot), pp_plot(row['plot']))

df = df.sort_values('diff', ascending=False) 
df.head(3)

#print(jarowinkler.similarity(pp_plot(original_plot), pp_plot(original_plot)))

,id,title,languages,genres,rating,director,plot,diff
44,380268,Cocaine Cowboys,['English'],"['Documentary', 'Crime', 'History']",7.8,Billy Corben,"In the 1980s, ruthless Colombian cocaine baron...",0.410714
10,967060,"Game, Set... Muuurder?",['English'],"['Comedy', 'Crime', 'Mystery']",7.7,James L. Conway,When a would be tennis star is reported missin...,0.383333
8,104927,Mr. Bond,['Hindi'],"['Action', 'Adventure', 'Thriller']",4.3,Raj N. Sippy,"Mr. Bond, a police officer by profession has a...",0.357639

### Task 02: Implementation of collaborative filtering recommenders [total: 12 points]. 
The ratings.csv file contains a dataset extracted from IMDB with ratings for movies in a range from 1 to 5 from several users. The meta-data for the movies is contained in the movies.csv file. Use the movies.csv file for printing the movie titles in the results. Implement a user-based and a item-based collaborative filtering recommendation engine like show in the lecture. Don't recommend any movies the user has already watched.

##### __(a)  Print the top 3 recommended movies for the users 'Delora', 'Ruth', 'Heather', 'Ronald', and 'Lakisha' in the dataset for the user-based version.  We use the threshold version for choosing similar users. The threshold for choosing the similar users needs to be set to 0.25. [5 points]__

##### __(b)  Print the user, which has the movie 'Calle 54' as best recommendation for the user-based version from Task 02 a)? [1 point]__

##### __(c)  Print the top 3 recommended movies for the users 'Harold', 'Alfredo', 'Jerry', 'Monica', and 'Gail' in the dataset for the item-based version.  We also use the threshold version for choosing similar items. The threshold for choosing the similar items needs to be set to 0.35. [4 points]__

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

df_r = pd.read_csv('ratings.csv')
df_m = pd.read_csv('movies.csv')
#print(df_r.describe())

#delete data that does not fit 
df_r = df_r.loc[df_r['rating'] != 333]

#create similarity matrix
similarity_item = pd.DataFrame({'id_1': [], 'id_2': [], 'similarity': []})

# calculate similarity based on two vector (lists)
def similarity(item_v1, item_v2):
    dividend = sum(item_v1 * item_v2)
    divisor = np.linalg.norm(item_v1, 2) * np.linalg.norm(item_v2, 2)
    return dividend / divisor

# test similarity from lecture -> 0.27
# print(similarity(np.array([4,5,4,0,0,0]), np.array([3,0,0,3,4,0])))

#create matrix
movie_matrix_user = df_r.pivot_table(index='user', columns='id', values='rating')
# replace NaN
movie_matrix_user = movie_matrix_user.fillna(0)


for in_row, row in enumerate(movie_matrix_user):
    
    base_column = movie_matrix_user.iloc[:, in_row]
    base_column_id = movie_matrix_user.columns[in_row]
   
    for in_col, column in enumerate(movie_matrix_user):
   
        column_curr = movie_matrix_user[column]    
        similarity_item = similarity_item.append({'id_1': base_column_id, 
                                              'id_2': movie_matrix_user.columns[in_col], 
                                              'similarity': similarity(column_curr,base_column)}, ignore_index=True) 
    
# set similarity to 0 for the item to itself
similarity_item.loc[similarity_item['id_1'] == similarity_item['id_2'], ['similarity']] = 0
#df =similarity_item.loc[similarity_item['id_1'] == similarity_item['id_2']]
print(similarity_item)

           id_1       id_2  similarity
0       68646.0    68646.0    0.000000
1       68646.0    71562.0    0.000000
2       68646.0   104927.0    0.181085
3       68646.0   105236.0    0.267012
4       68646.0   110912.0    0.165287
...         ...        ...         ...
1595  7065882.0  3460252.0    0.442150
1596  7065882.0  4138326.0    0.804284
1597  7065882.0  5280788.0    0.827685
1598  7065882.0  6610020.0    0.797201
1599  7065882.0  7065882.0    0.000000

[1600 rows x 3 columns]

In [129]:
#threshold 0.35 >= ? or >
similarity_item = similarity_item[similarity_item['similarity'] > 0.35]
#print(similarity_item)

def recommendationItemBased(user, n):
    recommendation_items = pd.DataFrame({'id': [], 'recommendation': [], 'title': []})

    #all rated items from user
    items_user_rating = df_r.loc[df_r['user'] == user]
    
    items_probably_not_rated = pd.DataFrame({'id_rate': [], 'rate': [], 'id_sim': [], 'similarity': []})
    
    for index, row in items_user_rating.iterrows():        
        item = row['id']
        rating = row['rating']
        similarity_row_items = similarity_item.loc[similarity_item['id_1'] == item]

        for i, sim_item in similarity_row_items.iterrows():           
            items_probably_not_rated = items_probably_not_rated.append({'id_rate':item,
                                                                        'rate': rating,
                                                                        'id_sim': sim_item['id_2'],
                                                                        'similarity': sim_item['similarity']}, ignore_index=True) 
     
    #print(items_probably_not_rated)
    
    #select only unrated items from user
    items_not_rated = items_probably_not_rated.loc[~items_probably_not_rated.id_sim.isin(items_user_rating.id)]
    
    #print(items_not_rated)
    
    #calculate recommendation for user not rated items
    for item in set(items_not_rated.id_sim):
        dividend = 0
        divisor = 0
        calc_recommendation = items_not_rated.loc[items_not_rated['id_sim'] == item]
        
        #calc for one item recommendation
        for in_calc, row_calc in calc_recommendation.iterrows():
            dividend += (row_calc['rate'] * row_calc['similarity'])
            divisor += row_calc['similarity']
        
        recommendation = dividend/divisor   
        recommendation_items = recommendation_items.append({'id': item, 
                                                            'recommendation': recommendation,
                                                           'title': df_m.loc[df_m['id'] == item]['title'].values[0]}, 
                                                           ignore_index=True)
    
    recommendation_items = recommendation_items.sort_values('recommendation', ascending=False)
    return recommendation_items[:n]

print(recommendationItemBased('Harold', 3))
print(recommendationItemBased('Alfredo', 3))
print(recommendationItemBased('Jerry', 3))
print(recommendationItemBased('Monica', 3))
print(recommendationItemBased('Gail', 3))

#print(recommendationItemBased('Chantal', 15))

         id  recommendation                     title
3  111161.0        3.261508  The Shawshank Redemption
0  119396.0        3.235485              Jackie Brown
1   68646.0        3.000000             The Godfather
          id  recommendation                 title
1  3460252.0        2.783021     The Hateful Eight
2   361748.0        2.743476  Inglourious Basterds
0   119396.0        2.029188          Jackie Brown
         id  recommendation                     title
9  111161.0        3.980503  The Shawshank Redemption
1  119396.0        3.367724              Jackie Brown
4  116367.0        3.056447       From Dusk Till Dawn
          id  recommendation                   title
0    71562.0        3.000000  The Godfather: Part II
1  1502397.0        3.000000       Bad Boys for Life
2    68646.0        1.405684           The Godfather
          id  recommendation              title
1   119396.0        3.885825       Jackie Brown
7  3460252.0        3.310132  The Hateful Eight
5   105236.0        3.268487     Reservoir Dogs

##### __(d) Print the user, which has the movie 'Pomerania Courier' as best recommendation for the item-based version from Task 02 c)? [1 point]__

In [126]:
import pandas as pd
import seaborn as sns
import numpy as np

df_r = pd.read_csv('ratings.csv')
df_m = pd.read_csv('movies.csv')

id_movie = df_m.loc[df_m['title'] == 'Pomerania Courier']['id'].values[0]

names = df_r['user'].unique()
users_rec = pd.DataFrame({'user': [], 'recommendation': [], 'title': []})

for name in names:
    reccomendations = recommendationItemBased(name, 30)
    for idx, row in reccomendations.iterrows():    
        if row['id'] == id_movie:
            users_rec =  users_rec.append({'user': name,
                                          'recommendation': row['recommendation'],
                                          'title': row['title']}, ignore_index=True)
    
users_rec = users_rec.sort_values('recommendation', ascending=False)
users_rec.head()

      user  recommendation              title
0  Chantal             5.0  Pomerania Courier
1   Paloma             5.0  Pomerania Courier
2     Beat             1.0  Pomerania Courier

##### __(e) Which movies are the most recommended ones? Print the top3 movies generated with the recommender from Task 02 a). [1 point]__